{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
	<!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Title Tag  -->
    {% block title %}
	<title>StylePub</title>
	{% endblock title %}
	<!-- Favicon -->
	<link rel="icon" type="image/png" href="images/favicon.png">
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
	
	<!-- StyleSheet -->
	
	<style>
		.popup-overlay {
			display: none;
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			z-index: 1000;
		}
		.popup {
			display: none;
			position: fixed;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			z-index: 1001;
			padding: 20px;
			background-color: white;
			border-radius: 8px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
			max-width: 400px;
			width: 90%;
		}
	</style>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(document).ready(function() {
			$('.popup-overlay, .popup').fadeIn().delay(3000).fadeOut();
		});
	</script>
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %}">
	<!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<!-- Fancybox -->
	<link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
	<!-- Themify Icons -->
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
	<!-- Nice Select CSS -->
    <link rel="stylesheet" href="{% static 'css/niceselect.css' %}">
	<!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- Flex Slider CSS -->
    <link rel="stylesheet" href="{% static 'css/flex-slider.min.css' %}">
	<!-- Owl Carousel -->
    <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">
	<!-- Slicknav -->
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}">
	
	<!-- Eshop StyleSheet -->
	<link rel="stylesheet" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	<link rel="stylesheet" href="{% static 'css/login.css' %}">

	
	
</head>
<body class="js">
	
	<!-- Preloader -->
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<!-- End Preloader -->
	
	
	<!-- Header -->
	<header class="header shop">
		<!-- Topbar -->
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-12 col-12">
						<!-- Top Left -->
						<div class="top-left">
							<ul class="list-main">
								<li><i class="ti-headphone-alt"></i> +88 1746499543</li>
								<li><i class="ti-email"></i> support@stylepub.com</li>
							</ul>
						</div>
						<!--/ End Top Left -->
					</div>
					<div class="col-lg-7 col-md-12 col-12">
						<!-- Top Right -->
						<div class="right-content">
							<ul class="list-main">
								<li><i class="ti-location-pin"></i> <a target="_blank" href="https://www.google.com/maps/place/Police+Plaza+Concord+Shopping+Mall/@23.7675397,90.4009872,14.12z/data=!4m6!3m5!1s0x3755c70abd6697dd:0x2de770411575588c!8m2!3d23.7730126!4d90.41601!16s%2Fg%2F11h1lv97dg?entry=ttu">Store location</a></li>
								<li><i class="ti-alarm-clock"></i> <a href="{% url 'no_data' %}">Daily deal</a></li>
								{% if user.is_authenticated %}
								<li><i class="ti-user"></i> <a href="{% url 'profile' %}">My account({{user.username}})</a></li>
								<li><i class="ti-power-off"></i><a href="{% url 'logout' %}">Logout</a></li>
								{% else %}
								<li><i class="ti-power-off"></i><a href="{% url 'login' %}">Login</a></li>
								{% endif %}
							</ul>
						</div>
						<!-- End Top Right -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Topbar -->
		<div class="middle-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-12">
						<!-- Logo -->
						<div class="logo">
							<a href="/"><img src="{% static 'images/logo.jpg' %}" alt="logo"></a>
						</div>
						<!--/ End Logo -->
						<!-- Search Form -->
						<div class="search-top">
							<div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
							<!-- Search Form -->
							<div class="search-top">
								<form class="search-form">
									<input type="text" placeholder="Search here..." name="search">
									<button value="search" type="submit"><i class="ti-search"></i></button>
								</form>
							</div>
							<!--/ End Search Form -->
						</div>
						<!--/ End Search Form -->
						<div class="mobile-nav"></div>
					</div>
					<div class="col-lg-8 col-md-7 col-12">
						<div class="search-bar-top">
							<div class="search-bar">
								<form>
									<input name="search" placeholder="Search Products Here....." type="search">
									<button class="btnn"><i class="ti-search"></i></button>
								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-12">
						<div class="right-bar">
							<!-- Search Form -->
							<div class="sinlge-bar">
								<a href="{% url 'wishlist' %}" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
							</div>
							<div class="sinlge-bar">
								<a href="{% url 'profile' %}" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
							</div>
							<div class="sinlge-bar shopping">
								<a href="{% url 'cart' %}" class="single-icon"><i class="ti-bag"></i> <span class="total-count">{{cart|length}}</span></a>
								<!-- Shopping Item -->
								<div class="shopping-item">
									<div class="dropdown-cart-header">
										<span>{{cart|length}}</span>
										<a href="{% url 'cart' %}">View Cart</a>
									</div>
									<ul class="shopping-list">
										{% for i in cart %}
										<li>
											<a  class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
											<a class="cart-img" ><img src="{{ i.product.image.url}}" alt="#"></a>
											<h4><a href="{% url 'details' i.product.id %}">{{i.product.title}}</a></h4>
											<p class="quantity"><span class="amount">{{i.product.price}}</span></p>
										</li>
										{% endfor %}
									</ul>
									<div class="bottom">
										<div class="total">
											{% comment %} <span>Total</span> {% endcomment %}
											{% comment %} <span class="total-amount">$134.00</span> {% endcomment %}
										</div>
										<a href="{% url 'checkout' %}" class="btn animate">Checkout</a>
									</div>
								</div>
								<!--/ End Shopping Item -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Header Inner -->
		<div class="header-inner">
			<div class="container">
				<div class="cat-nav-head">
					<div class="row">
						<div class="col-lg-3">
							<div class="all-category">
								
								{% block category %}
                                
                                
                                
                                {% endblock category %}
							</div>
						</div>
						<div class="col-lg-9 col-12">
							<div class="menu-area">
								<!-- Main Menu -->
								<nav class="navbar navbar-expand-lg">
									<div class="navbar-collapse">	
										<div class="nav-inner">	
											<ul class="nav main-menu menu navbar-nav">
													<li class="active"><a href="/">Home</a></li>
													<li><a href="{% url 'all_product' %}">Product</a></li>												
													<li><a href="{% url 'no_data' %}">Service</a></li>
													<li><a >Shop<i class="ti-angle-down"></i><span class="new">New</span></a>
														<ul class="dropdown">
															<li><a href="{% url 'cart' %}">Cart</a></li>
															<li><a href="{% url 'wishlist' %}">Wishlist</a></li>
														</ul>
													</li>
													<li><a href="{% url 'no_data' %}">Pages</a></li>									
													<li><a >Blog<i class="ti-angle-down"></i></a>
														<ul class="dropdown">
															<li><a href="{% url 'blog' %}">Blog</a></li>
														</ul>
													</li>
													<li><a href="{% url 'contact' %}">Contact Us</a></li>
												</ul>
										</div>
									</div>
								</nav>
								<!--/ End Main Menu -->	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Inner -->
	</header>
	<!--/ End Header -->
	{% include 'messages.html' %}
	{% block content %}
    
    
    {% endblock content %}
	<br>
	<!-- Start Shop Services Area -->
<section class="shop-services section home">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-rocket"></i>
                    <h4>Free shiping</h4>
                    <p>Orders over $100</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-reload"></i>
                    <h4>Free Return</h4>
                    <p>Within 30 days returns</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-lock"></i>
                    <h4>Sucure Payment</h4>
                    <p>100% secure payment</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-tag"></i>
                    <h4>Best Peice</h4>
                    <p>Guaranteed price</p>
                </div>
                <!-- End Single Service -->
            </div>
        </div>
    </div>
</section>
<!-- End Shop Services Area -->

<!-- Start Shop Newsletter  -->
<section class="shop-newsletter section">
    <div class="container">
        <div class="inner-top">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <!-- Start Newsletter Inner -->
                    <div class="inner">
                        <h4>Newsletter</h4>
                        <p> Subscribe to our newsletter and get <span>10%</span> off your first purchase</p>
                        <form action="" method="get" target="_blank" class="newsletter-inner">
                            <input name="EMAIL" placeholder="Your email address" required="" type="email">
                            <button class="btn">Subscribe</button>
                        </form>
                    </div>
                    <!-- End Newsletter Inner -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Shop Newsletter -->
	
	<!-- Start Footer Area -->
	<footer class="footer">
		<!-- Footer Top -->
		<div class="footer-top section">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer about">
							<div class="logo">
								{% comment %} <a href="/"><img src="{% static 'images/logo.png' %}" alt="#"></a> {% endcomment %}
							</div>
							<h5 class="text">Experience Personalized Online Shopping in Bangladesh with stylepub.com</h5>
							<p>Online Shopping BD has never been easier.stylepub.com is best online shopping store in Bangladesh that features 10+ million products at affordable prices. As bangaldesh's online shopping landscape is expanding every year, online shopping in dhaka, chittagong, khulna, sylhet and other big cities are also gaining momentum.</p>
							<p class="call">Got Question? Call us 24/7<span><a href="tel:01746499543">+88 01746499543</a></span></p>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>Information</h4>
							<ul>
								<li><a href="{% url 'no_data' %}">About Us</a></li>
								<li><a href="{% url 'no_data' %}">Faq</a></li>
								<li><a href="{% url 'no_data' %}">Terms & Conditions</a></li>
								<li><a href="{% url 'no_data' %}">Contact Us</a></li>
								<li><a href="{% url 'no_data' %}">Help</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>Customer Service</h4>
							<ul>
								<li><a href="{% url 'no_data' %}">Payment Methods</a></li>
								<li><a href="{% url 'no_data' %}">Money-back</a></li>
								<li><a href="{% url 'no_data' %}">Returns</a></li>
								<li><a href="{% url 'no_data' %}">Shipping</a></li>
								<li><a href="{% url 'no_data' %}">Privacy Policy</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer social">
							<h4>Get In Tuch</h4>
							<!-- Single Widget -->
							<div class="contact">
								<ul>
									<li>NO. 342 - Gulshan Link Street.</li>
									<li>012 Bangladesh.</li>
									<li>info@stylepub.com</li>
									<li>+88 01746499543</li>
								</ul>
							</div>
							<!-- End Single Widget -->
							<ul>
								<li><a target="_blank" href="https://www.facebook.com"><i class="ti-facebook"></i></a></li>
								<li><a target="_blank" href="https://www.twitter.com"><i class="ti-twitter"></i></a></li>
								<li><a ><i class="ti-flickr"></i></a></li>
								<li><a target="_blank" href="https://www.instagram.com"><i class="ti-instagram"></i></a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Footer Top -->
		<div class="copyright">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-lg-6 col-12">
							<div class="left">
								<p>Copyright © 2024 <a href="">stylepub</a>  -  All Rights Reserved.</p>
							</div>
						</div>
						<div class="col-lg-6 col-12">
							<div class="right">
								<img src="{% static 'images/payments.png' %}" alt="#">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- /End Footer Area -->
 
<!-- Jquery -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-3.0.0.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<!-- Popper JS -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Color JS -->
<script src="{% static 'js/colors.js' %}"></script>
<!-- Slicknav JS -->
<script src="{% static 'js/slicknav.min.js' %}"></script>
<!-- Owl Carousel JS -->
<script src="{% static 'js/owl-carousel.js' %}"></script>
<!-- Magnific Popup JS -->
<script src="{% static 'js/magnific-popup.js' %}"></script>
<!-- Waypoints JS -->
<script src="{% static 'js/waypoints.min.js' %}"></script>
<!-- Countdown JS -->
<script src="{% static 'js/finalcountdown.min.js' %}"></script>
<!-- Nice Select JS -->
<script src="{% static 'js/nicesellect.js' %}"></script>
<!-- Flex Slider JS -->
<script src="{% static 'js/flex-slider.js' %}"></script>
<!-- ScrollUp JS -->
<script src="{% static 'js/scrollup.js' %}"></script>
<!-- Onepage Nav JS -->
<script src="{% static 'js/onepage-nav.min.js' %}"></script>
<!-- Easing JS -->
<script src="{% static 'js/easing.js' %}"></script>
<!-- Active JS -->
<script src="{% static 'js/active.js' %}"></script>
</body>
</html>